#menu{
    display: block;
    color: #FFF;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.95) 10%, rgba(0,0,0,0.8) 40%, transparent);
    height: 5em;
    position: fixed;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    > ul{
        display: block;
        box-sizing: border-box;
        padding: 5px 10px;
        float: left;
        list-style: none;
        > li{
            position: relative;
            vertical-align: top;
            display: inline-block;
            *{
                vertical-align: middle;
            }
            img, span{
                vertical-align: top;
            }
            a{
                color: #FFF;
                text-decoration: none;
            }
            #search{
                cursor: pointer;
                *{
                    vertical-align: middle;
                }
                input{
                    width: 12em;
                    height: 1.5em;
                    background-color: transparent;
                    color: #FFF;
                    border: none;
                    margin-right: 1em;
                    text-align: right;
                }
                input:focus, input:active{
                    border: none;
                    outline: none;
                }
            }
        }
    }
    ul + ul{
        float: right;
    }
    ul span{
        position: absolute;
        display: none;
        width: 9.3em;
        padding-top: 0.5em;
        top: 0.9em;
        right: 0;
    }
    ul li a:hover span{
        display: block;
    }
    ul span ul{
        display: block;
        width: 100%;
        background-color: #FFF;
        color: #333;
        list-style: none;
        box-sizing: border-box;
        padding: 5px 10px;
    }
    ul span ul li{
        padding: 5px 10px;
    }
}