.movie-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 20px;
    .movie{
        position: relative;
        box-sizing: border-box;
        width: 280px;
        padding: 10px 0;
        margin: 10px 20px;
        div{
            padding: 10px 20px;
            height: 10em;
        }
        .overlay{
            box-sizing: border-box;
            padding: 150px 20px;
            color: #FFF;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-image: linear-gradient(0, rgba(0,0,0,0.9) 10%, rgba(0,0,0,0.3) 65%, transparent 80%);;
            b{
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                height: 1em;
                text-shadow: 3px 3px 2px #000;
            }
        }
    }
}