#poster{
    position: relative;
    z-index: 0;
    display: block;
    width: 100%;
    height: 32em;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    > div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image:  linear-gradient(-180deg, transparent 10%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.5) 100%);
    }
    > span{
        position: absolute;
        top: 50%;
        left: 20px;
        h1, p{
            text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
            margin-bottom: 20px;
        }
        h1 ~ p{
            display: inline-block;
            max-width: 400px;
        }
    }
}
.see-more{
    display: inline-block;
    background-color: #FFF;
    color: #333;
    border-radius: 0.8em;
    line-height: 2.2em;
    height: 2.2em;
    text-decoration: none;
    padding: 0 1.5em 0.1em 1em;
    *{
        vertical-align: middle;
    }
}